<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EMPLOYEE_URL" value="https://eohmc-acme-api.azurewebsites.net/api/Employees"/>
    <add key="EXCLUSIONS_URL" value="https://eohmc-acme-api.azurewebsites.net/api/BirthdayWishExclusions"/>
    <add key="MESSAGE" value="Dear {0}, We wish you a happy Birthday!"/>
    <add key="TEST_EMAIL" value="test@gmail.com"/>
    <add key="TEST_EMAIL_PASSWORD" value="password"/>
    <add key="SMTP_SERVER" value="smtp.gmail.com"/>
    <add key="SMTP_SERVER_PORT" value="587"/>
    <add key="EMAIL_SUBJECT" value="Happy Birthday!"/>
    <add key="TODAYS_EXCLUSION_FILE_DIRECTORY" value="C:\\Temp\\BirthDayMessageService\\"/>
  </appSettings>
</configuration>